/* fonts */
@font-face {
  src: url("..fonts/IBMPlexSansKR-Regular.ttf");
  font-family: "ibm";
}
/* pages */
/* @import "pages/mainpage.css"; */
/*외부 css 연결이 안됨 */

* {
  font-family: "ibm";
}

a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 1000px;
  flex: 1;
}

/*사용 컬러 variables에 정리*/
/* MainPage index.html*/
#headerWrapper {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  color: #f7961b;
  font-size: 25px;
  font-weight: 700;
  padding-left: 230px;
}

.headerTexts {
  padding-left: 10px;
  font-size: 20px;
}

.headerTextLogin {
  padding-left: 0px;
  font-size: 15px;
}

#shortLine {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

#headerTextLoginWrapper {
  margin-right: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border: 1px solid;
  border-radius: 30px;
}

#headerTextWrapper {
  padding-left: 400px;
}

#indexMainWrapper {
  width: 100%;
  flex: 1;
}

/* #backgroundImg {
    position: relative;
    z-index: -1;
} */

#indexMainTextWrapper {
  position: absolute;
  top: 30%;
  left: 22%;
  font-size: 80px;
  font-weight: 700;
  justify-content: center;
}

.indexMainText {
  color: #f7961b;
}

/* LoginPage login.html AND JoinPage join.html */

#loginIcon {
  width: 30px;
  height: 30px;
  margin-right: 100px;
}

#loginTextWrapper {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

/* STRUCTURE */

.loginWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

#loginFormContent {
  border-radius: 10px 10px 10px 10px;
  background: rgb(255, 255, 255);
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #f7961b;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 20px;
  margin: 5px 20px 40px 20px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #dc7d00;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: #ffffff;
  border: none;
  color: #000000;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f7961b;
  border-radius: 5px 5px 5px 5px;
}

/* OTHERS */

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

/* Mypage mypage.html */

#headerTextMypageWrapper {
  margin-right: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border: 1px solid;
  border-radius: 30px;
}

#mypageWrapper {
  width: 100%;
  height: 380px;
  background-color: #f7961b;
  display: flex;
  justify-content: center;
}

#mypageMain {
  width: 75%;
  margin-top: 150px;
  height: 70vh;
  background-color: #ffffff;
}

#mypageText {
  margin-left: 40px;
}

#mypageContentsWrapper {
  height: 100%;
  display: flex;
  background-color: antiquewhite;
}

#mypageContentTag {
  height: 100%;
  width: 20%;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  padding-left: 40px;
  padding-top: 40px;
}

#mypageContentInfor {
  height: 100%;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #000000;
}

.tags {
  margin-bottom: 30px;
}

#idRemoval {
  border-top: 1px solid #7a7a7a;
  width: 65px;
  margin-top: 400px;
}

.Infors {
  margin-top: 50px;
  margin-left: 50px;
}

.InforsInput {
  /* input 크기 조정 필요 */
}

/* IdRemoval idRemoval.html */
#idRemovalClick {
  border-top: 1px solid #7a7a7a;
  width: 65px;
  margin-top: 400px;
}

#mypageContentInfor h2 {
  width: 100%;
  margin-top: 50px;
  margin-left: 50px;
}

#idRemovalCheck {
  margin-top: 50px;
  margin-left: 50px;
}

#idRemovalCheckBtt {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1380px) {
  #headerWrapper {
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #headerTextWrapper {
    padding-left: 40px;
  }

  .headerTexts {
    padding-left: 10px;
    font-size: 15px;
  }

  .headerTextLogin {
    padding-left: 0px;
    font-size: 15px;
  }

  #indexMainTextWrapper {
    position: absolute;
    top: 30%;
    left: 22%;
    font-size: 60px;
    font-weight: 700;
    justify-content: center;
  }
}

@media (max-width: 950px) {
  #logo {
    color: #f7961b;
    font-size: 25px;
    font-weight: 700;
    padding-left: 20px;
  }

  #headerTextLoginWrapper {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border: 1px solid;
    border-radius: 30px;
  }

  #headerTextMypageWrapper {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid;
    border-radius: 30px;
  }

  #headerTextWrapper {
    padding-left: 0px;
  }

  .headerTexts {
    padding-left: 10px;
    font-size: 15px;
  }

  .headerTextLogin {
    padding-left: 0px;
    font-size: 15px;
  }

  #indexMainTextWrapper {
    position: absolute;
    top: 30%;
    left: 19%;
    font-size: 50px;
    font-weight: 700;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  #logo {
    color: #f7961b;
    font-size: 25px;
    font-weight: 700;
    padding-left: 20px;
  }

  #headerTextLoginWrapper {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border: 1px solid;
    border-radius: 30px;
  }

  #headerTextMypageWrapper {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid;
    border-radius: 30px;
  }

  #headerTextWrapper {
    padding-left: 0px;
  }

  .headerTexts {
    padding-left: 10px;
    font-size: 15px;
  }

  .headerTextLogin {
    padding-left: 0px;
    font-size: 15px;
  }

  #indexMainTextWrapper {
    position: absolute;
    top: 30%;
    left: 12%;
    font-size: 35px;
    font-weight: 700;
    justify-content: center;
  }
}
