* {
    /*전체 폰트 지정*/
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}

.calander {
    box-shadow: 0 0px 10px rgb(0,0,0, 0.9);
    background-color: #263343;
    padding-top: 10px;
    text-align: center;
    height: 120px;
}

.calander_text {
    padding-top: 20px;
    color: white;
}

.calander input {
    margin: 20px;
    color: black;
    width: 150px;
}

label {
    margin-right: 10px;
}

.convert {
    display: flex;
    align-items: center;
    width: 1480px;
    height: 1100px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding-top: 20px;
}

.convert > li {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0px 10px rgb(0,0,0, 0.9);
    
    height: 900px;
    background-color: #263343;
    text-align: center;
    border-radius: 7px;
}

.convert > li:not(:last-child) {
    margin-right: 60px;
}

.convert > li .convert_image{
    margin-top: 70px;
}

.convert > li .convert_result {
    margin-top: 50px;
}

.convert_result-left {
    background-color: #313e4d;
    border-radius: 8px;
    border: #313e4d;
    width: 350px;
    height: 200px;
    margin: auto;
    font-size: 30px;
}

.convert_result-middle {
    background-color: #313e4d;
    border-radius: 8px;
    border: #313e4d;
    width: 350px;
    height: 80px;
    margin:auto;
    font-size: 20px;
}

.convert_result-right {
    background-color: #313e4d;
    border-radius: 8px;
    border: #313e4d;
    width: 350px;
    height: 80px;
    margin: 40px 50px;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    
}