<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/convert.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="js/jquery-3.6.1.min.js"></script>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>convert page</title>
    <script language="javascript" type="text/javascript" src="js/nav_script.js"></script>
</head>

<body>
<!--상단 내비바-->
<div class="wrap">
    <header>
        <nav class="navbar">
            <div class="navbar_logo"><a th:href="@{/index}">대충 로고</a></div>
            <ul class="navbar_menu">
                <li><a th:href="@{/index}">HOME</a></li>
                <li><a th:href="@{/convert}">CONVERT</a></li>
                <li><a th:href="@{/write}">WRITE</a></li>
                <li><a th:href="@{/rank}">RANK</a></li>
            </ul>
            <ul class="navbar_link">
                <li><a th:href="@{/login}">로그인</a></li>
                <li><a th:href="@{/join}">회원가입</a></li>
            </ul>
        </nav>
    </header>

    <!--캘린더-->
    <div class="calander">
        <h2 class="calander_text">원하는 날짜를 선택하세요, 해당 날짜의 운동량을 환산합니다.</h2>
        <input type="date" , name="chooseday" id="day">
    </div>


    <ul class="convert">
        <!--1번-->
        <li class="convert_list">
            <div class="convert_result-left">
                100
                <div>일</div>
            </div>
            <div class="convert_result-left">
                2400
                <div>시간</div>
            </div>
            <div class="convert_result-left">
                144000
                <div>분</div>
            </div>
        </li>

        <!--2번-->
        <li class="convert_list">
            <div class="convert_image">
                <img src="" alt="대충 치킨 사진">
            </div>
            <div class="convert_result-middle">대충 당신이 살려준 닭의 수</div>
            <div class="convert_image">
                <img src="" alt="대충 건물 사진">
            </div>
            <div class="convert_result-middle">대충 당신이 들어올린 건물의 무게</div>
            <div class="convert_image">
                <img src="" alt="대충 뭔가 사진">
            </div>
            <div class="convert_result-middle">대충 당신이 뭔가 함</div>
        </li>

        <!--3번-->
        <li>
            <h2>만약 다른 일을 했더라면?</h2>
            <div class="convert_result-right">
                서울에서 부산까지 X 번 왕복
            </div>
            <div class="convert_result-right">
                영화 보면 X 편 시청
            </div>
            <div class="convert_result-right">
                노래방에서 X 곡 부르기
            </div>
            <div> class="convert_result-right">
                1분 영단어 X 개 암기
            </div>
        </li>
    </ul>
</div>
</body>

</html>