<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/write.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="navbar_logo"><a th:href="@{/index}">대충 로고</a></div>
        <ul class="navbar_menu">
            <li><a th:href="@{/index}">HOME</a></li>
            <li><a th:href="@{/convert}">CONVERT</a></li>
            <li><a th:href="@{/write}">WRITE</a></li>
            <li><a th:href="@{/rank}">RANK</a></li>
        </ul>
        <ul class="navbar_link">
            <li><a th:href="@{/login}">로그인</a></li>
            <li><a th:href="@{/join}">회원가입</a></li>
        </ul>
    </nav>
</header>

<h1 class="intro">오늘 하루 운동량을 알려주세요 !</h1>

<div class="write">
    <div>
        <label for="date">날짜</label>
        <input type="date" id="date">
    </div>

    <div>
        <label for="event">종목</label>
        <select name="event_select" id="event">
            <option value="1">운동1</option>
            <option value="2">운동2</option>
            <option value="3">운동3</option>
            <option value="4">운동4</option>
        </select>
    </div>
</div>

<div class="write">
    <div>
        <label for="count">개수</label>
        <input type="text" id="count">
    </div>

    <div>
        <label for="distance">거리</label>
        <input type="text" id="distance" placeholder=" KM 단위로 입력">
    </div>

    <div>
        <label for="time">시간</label>
        <input type="text" id="time" placeholder=" 시간 단위로 입력">
    </div>
</div>

<div class="button">
    <button type="submit"><a th:href="@{/convert}">확인</a></button>
    <button type="submit"><a th:href="@{/index}">돌아가기</a></button>
</div>

</body>
</html>


<!--<div class="write">
        <div>
          <label for="date">날짜</label>
          <input type="date" id="date">
        </div>

        <div>
          <label for="event">종목</label>
          <select name="event_select" id="event">
            <option value="1">운동1</option>
            <option value="2">운동2</option>
            <option value="3">운동3</option>
            <option value="4">운동4</option>
          </select>
        </div>

        <div>
          <label for="time">시간</label>
          <input type="text" id="time" placeholder=" 시간 단위로 입력">
        </div>
      </div>

      <div class="write">
        <div>
          <label for="count">개수</label>
          <input type="text" id="count">
        </div>

        <div>
          <label for="distance">거리</label>
          <input type="text" id="distance" placeholder=" KM 단위로 입력">
        </div>
      </div>-->